* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Roboto Mono", monospace;
}

body {
    background-color: black;
    background-image: url(../images/back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.outer {
    border-radius: 18px;
    border: 3px solid white;
}

.result-box li span {
    font-size: 22px;
    color: white;
}

.selectValue {
    border-radius: 18px;
    padding: 10px 12px;
    font-weight: 600;
    font-size: 18px;
    border: 3px solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}